<div class="container">
<div class="row">
<div class="col-md-8 mt-4">
    <div class="row justify-content-start cn-custom">
        <div class="col-md-4" >
    <div class="col mt-4">
 <img src="/assets/Img/Perfil2.jpeg" class=" float-start avatar" alt="...">
 </div>
 </div> 
    <div class="col-md-8">
        <div class="col-md-10 mt-3 offset-1">
         <h3 class="title2">About me:</h3>
    <p class="biography mt-3">My name is Frandy Morel. I am a software developer with a passion for creating</p>
    <div> 
    </div>
    </div>
    </div>
    <div class="col mt-4">
        <div class="d-flex justify-content-start mt-4">
            <section class="">
                <img src="assets/Img/App1.jpg" alt="">
                <img src="assets/Img/App2.jpg" alt="">
                <img src="assets/Img/App3.jpg" alt="">
                <img src="assets/Img/App4.jpg" alt="">
            </section>
        </div>
    </div>
    </div>
    </div>  
        <div class="col-md-4">    
            <div class="col mt-4">
            <button class="btn-custom offset-1 mb-4">Proyectos</button>
            <button class="btn-custom offset-3 mb-4">Curriculum</button>
            <button class="btn-custom offset-1 mb-4">Certificaciones</button>
            <button class="btn-custom offset-3 mb-4">Contactos</button>
            <button class="btn-custom offset-1 mb-4">GitHub</button>
            </div>
        </div>
    </div>
</div>