
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body{  

    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  // .pragati-narrow-bold {
  //   font-family: "Pragati Narrow", sans-serif;
  //   font-weight: 700;
  //   font-style: normal;
  // }
  
    background-color: #050a30;
}


.cn-custom{
    padding: 4rem;
    background-color: #192443;
    border-radius: 8px;
    height: 21.5rem;
    width: 50rem;
    box-shadow: 4px 8px 10px #030d29;
}

.cp-custom{
  background-color: #192443;
  border-radius: 8px;
  box-shadow: 4px 8px 10px #030d29;
}

.btn-custom{
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    width: 19rem;
    border: 2px solid #FFDB00;
    color: #FFDB00;
    padding: 2rem 6rem;
    border-radius: 4px;
    box-shadow: 4px 8px 10px #030d29;
    &:hover{
      background-color: #FFDB00;
      color: white;
      transition: all 0.5s ease;
      transform: scale(1.05);
      box-shadow: 4px 8px 10px #ffdd008f;
    }
    &:active{
      background-color: #ffdd00b0;
      color: white;
      border: #ffdd00b0;
      cursor: pointer;
      transition: all 2ms ease;
      transform: scale(0.95);
    }
     // Estilos del SVG dentro del botón
     svg {
      transform: translateX(3px);
      g {
          stroke: #FFDB00; // Color inicial
      }
  }

  &:hover {
      svg {

          g {
            transition: all 0.5s ease;
              stroke: white; // Cambio de color al pasar el mouse
          }
      }
  } 
  }

  h2{
    font-weight: bold;
    color: #FFDB00;
    text-shadow: 2px 3px 12px #ffdd00d5 ;
  }

section{
  border-radius: 4px;
  display: flex;
  width: 38rem;
  height: 15rem;
  box-shadow: 2px 2px 4px 2px #cccccc67;
}

section img{
  border-radius: 2px;
  width: 0rem;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  &:hover{
   
    width: 18.75rem;
    opacity: 1;
    filter: contrast(120%);
  }
}

.avatar{
  width: 14rem;         /* Ancho deseado */
  height: 14rem;        /* Alto deseado */
  border-radius: 50%;   /* Hace que la imagen sea redonda */
  object-fit: cover;    /* Mantiene la imagen ajustada y centrada */
  border: 3px solid #ccc; /* Borde opcional */
  box-shadow: 4px 8px 10px #030d29;
}

.wrapper{
  display: inline-block;

}

.title{
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
  color: #FFDB00;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 3px 6px #ffdd00d5 ;
  width: 80%;
  text-transform: uppercase;
  border-right: 5px solid;
  overflow: hidden;
  animation: typing 1.5s steps(25),
  cursor 0.4s step-end infinite alternate;
}

@keyframes cuersor {
  80% {border-color:transparent;}
}

@keyframes typing{
  from {width: 0;}
}

.dl-btn{
  color: #ccc;

  // &:hover{
  //   background-color: #cccccc73;
  // }

}

.title2{
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 700;
  font-style: normal;
  color: #FFDB00;
  font-family:Arial, Helvetica, sans-serif;

}

.biography{
  font-size: 0.95rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: #FFDB00;
  font-family:Arial, Helvetica, sans-serif;
}


.btn-angular{
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    width: 11rem;
    border: 2px solid #b70000;
    color: #ce0505;
    padding: 2rem 2rem;
    border-radius: 4px;
    box-shadow: 4px 8px 10px #030d29;
    &:hover{
      background-color: #ce0505;
      color: white;
      transition: all 0.5s ease;
      transform: scale(1.05);
      box-shadow: 4px 8px 10px #ce0505ba;
    }
    &:active{
      background-color: #ce05059a;
      color: white;
      border: #ce05059a;
      cursor: pointer;
      transition: all 2ms ease;
      transform: scale(0.95);
    }
     // Estilos del SVG dentro del botón
     svg {
      transform: translateX(3px);
      path {
          stroke: #ce0505; // Color inicial
      }
  }

  &:hover {
      svg {

          path {
            transition: all 0.5s ease;
            fill: white;
              stroke: white; // Cambio de color al pasar el mouse
          }
      }
  } 
  }


  .btn-react{
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    width: 11rem;
    border: 2px solid #61dafb;
    color: #61dafb;
    padding: 2rem 2rem;
    border-radius: 4px;
    box-shadow: 4px 8px 10px #030d29;
    &:hover{
      background-color: #61dafb;
      color: white;
      transition: all 0.5s ease;
      transform: scale(1.05);
      box-shadow: 4px 8px 10px #61dafbab;
    }
    &:active{
      background-color: #61dafb8e;
      color: white;
      border: #61dafb8e;
      cursor: pointer;
      transition: all 2ms ease;
      transform: scale(0.95);
    }
     // Estilos del SVG dentro del botón
     svg {
      transform: translateX(3px);
     
  }

  &:hover {
      svg {

          path {
            transition: all 0.5s ease;
            fill: white;
          }
      }
  } 
  }

  .btn-vuejs{
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    width: 11rem;
    border: 2px solid #41b883;
    padding: 2rem 2rem;
    border-radius: 4px;
    box-shadow: 4px 8px 10px #030d29;
    &:hover{
      background-color: #41b883;
      color: white;
      border: 3px solid #35495e;
      transition: all 0.5s ease;
      transform: scale(1.05);
      box-shadow: 4px 8px 10px #41b883bd;
    }
    &:active{
      background-color: #41b8836a;
      color: white;
      border: 3px solid #35495e71;
      cursor: pointer;
      transition: all 2ms ease;
      transform: scale(0.95);
    }
     // Estilos del SVG dentro del botón
     svg {
      transform: translateX(3px);
     
  }

  &:hover {
      svg {

          path {
            transition: all 0.5s ease;
            fill: white;
          }
      }
  } 
  }


  .btn-dotnet{
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 700;
    color: #512bd4;
    font-style: normal;
    background-color: transparent;
    width: 11rem;
    border: 2px solid #512bd4;
    padding: 2rem 2rem;
    border-radius: 4px;
    box-shadow: 4px 8px 10px #030d29;
    &:hover{
      background-color: #512bd4;
      color: white;
      border: 3px solid #512bd4;
      transition: all 0.5s ease;
      transform: scale(1.05);
      box-shadow: 4px 8px 10px #502bd4bb;
    }
    &:active{
      background-color: #502bd47e;
      color: white;
      border: 3px solid #502bd47e;
      cursor: pointer;
      transition: all 2ms ease;
      transform: scale(0.95);
    }
     // Estilos del SVG dentro del botón
     svg {
      transform: translateX(3px);
      path{
        stroke: #512bd4;
      }
     
  }

  &:hover {
      svg {

          path {
            transition: all 0.5s ease;
            fill: white;
            stroke: white ;
          }
      }
  } 
  }

.pdf{
  width: 95rem;
  height: 74.5rem;
  scroll-margin: none;
}


html, body { height: 100%; }
body { margin: 0;  }
